/* font-family: 'Roboto', sans-serif; */
/* All the header elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  color: #999;
  background-color: #111;
  border-bottom: 1px solid #659916;
  border-radius: 0 0 20px 20px;
}

header h1 {
  margin: 0;
  padding: 5px;
}
/* Excercise part textarea */
.typing {
  font-family: "Roboto", sans-serif;
  max-width: 80%;
  margin: 20px auto;
  font-size: 20px;
  letter-spacing: 1px;
}
.cursor {
  opacity: 0;
  transition: 0.2s;
}
.cursor.active {
  opacity: 1;
}
