/* All the header elements */

body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    line-height: 2em;
    color: #999;
    background-color: #111;
    border-bottom: 1px solid #659916;
    border-radius: 0 0 20px 20px;
}

header h2 {
    margin: 0;
    padding: 5px;
}


/*  Task list */

ul li {
    margin: 2%;
    list-style: none;
    font-size: 1.4em;
}


/* Buttons */

button {
    margin: 0 2%;
    border-radius: 10px;
    font-size: 1em;
    float: right;
}


/* Done button */

.taskDone {
    background-color: #659916;
    color: #fff;
}

.removeTask {
    background-color: #ff1122;
    color: aliceblue;
}

.searchingbox {
    margin: 2%;
    text-align: center;
}

.search {
    width: 50%;
    font-weight: bold;
    font-size: 1.2em;
}

#searcher {
    background-color: #aaa;
    border-radius: 10px;
    text-align: center;
}

#searcher:focus {
    background-color: #111;
    color: #fff;
}